# ID2214 Assignment 1 Group no. 15
### Project members: 
[Enter Name, email]
[Enter Name, email]
[Enter Name, email]
[Enter Name, email]

### Declaration:
By submitting this solution, it is hereby declared that all individuals listed above have contributed to the solution, either with code that appear in the final solution below, or with code that has been evaluated and compared to the final solution, but for some reason has been excluded. It is also declared that all project members fully understand all parts of the final solution and can explain it upon request.

It is furthermore declared that the code below is a contribution by the project members only, and specifically that no part of the solution has been copied from any other source (except for lecture slides at the course ID2214/FID3214) and no part of the solution has been provided by someone not listed as project member above.

It is furthermore declared that it has been understood that no other library/package than the Python 3 standard library, NumPy and pandas may be used in the solution for this assignment.

### Instructions
All parts of the assignment starting with number 1 below are mandatory. Satisfactory solutions
will give 1 point (in total). If they in addition are good (all parts work more or less 
as they should), completed on time (submitted before the deadline in Canvas) and according
to the instructions, together with satisfactory solutions of all parts of the assignment starting 
with number 2 below, then the assignment will receive 2 points (in total).

Note that you do not have to develop the code directly within the notebook
but may instead copy the comments and test cases to a more convenient development environment
and when everything works as expected, you may paste your functions into this
notebook, do a final testing (all cells should succeed) and submit the whole notebook 
(a single file) in Canvas (do not forget to fill in your group number and names above).

## Load NumPy and pandas

In [6]:
import numpy as np
import pandas as pd

## 1a. Create and apply column filter

In [65]:
# Insert the functions create_column_filter and apply_column_filter below (after the comments)
#
# Input to create_column_filter:
# df - a dataframe (where the column names "CLASS" and "ID" have special meaning)
#
# Output from create_filter:
# df            - a new dataframe, where columns, except "CLASS" and "ID", containing only missing values 
#                 or only one unique value (apart from the missing values) have been dropped
# column_filter - a list of the names of the remaining columns, including "CLASS" and "ID"
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Iterate through all columns and consider to drop a column only if it is not labeled "CLASS" or "ID"
#
# Hint 3: You may check the number of unique (non-missing) values in a column by applying the pandas functions
#         dropna and unique to drop missing values and get the unique (remaining) values
#
# Input to apply_column_filter:
# df            - a dataframe
# column_filter - a list of the names of the columns to keep (see above)
#
# Output from apply_column_filter:
# df - a new dataframe, where each column that is not included in column_filter has been dropped
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)

In [19]:
def create_column_filter(df): 
    exempt = ["CLASS"]
    col_filter = exempt.copy()
    for col in df.columns: 
        if col not in exempt: 
            if (not df[col].isnull().values.all()) and (df[col].nunique() > 1): 
                col_filter.append(col)
    filtered = df.copy()
    filtered = filtered.loc[:, col_filter]
    return filtered, col_filter


def apply_column_filter(df ,column_filter): 
    filtered = df.copy()
    return filtered.loc[:, column_filter]

In [20]:
# Test your code (leave this part unchanged)

df = pd.DataFrame({"CLASS":[1,0,1,0,1],"A":[1,2,np.nan,4,5],"B":[1,1,1,1,np.nan],"C":["h","h",np.nan,"i","h"],"D":[np.nan,np.nan,np.nan,np.nan,np.nan]})

filtered_df, column_filter = create_column_filter(df)

new_df = pd.DataFrame({"CLASS":[1,0,0],"A":[4,5,6],"B":[1,2,1],"C":[np.nan,np.nan,np.nan],"D":[np.nan,4,5]})

filtered_new_df = apply_column_filter(new_df,column_filter)

display("df",df)
display("filtered_df",filtered_df)
display("new_df",new_df)
display("filtered_new_df",filtered_new_df)

'df'

   CLASS    A    B    C   D
0      1  1.0  1.0    h NaN
1      0  2.0  1.0    h NaN
2      1  NaN  1.0  NaN NaN
3      0  4.0  1.0    i NaN
4      1  5.0  NaN    h NaN

'filtered_df'

   CLASS    A    C
0      1  1.0    h
1      0  2.0    h
2      1  NaN  NaN
3      0  4.0    i
4      1  5.0    h

'new_df'

   CLASS  A  B   C    D
0      1  4  1 NaN  NaN
1      0  5  2 NaN  4.0
2      0  6  1 NaN  5.0

'filtered_new_df'

   CLASS  A   C
0      1  4 NaN
1      0  5 NaN
2      0  6 NaN

## 1b. Create and apply normalization

In [4]:
# Insert the functions create_normalization and apply_normalization below (after the comments)
#
# Input to create_normalization:
# df: a dataframe (where the column names "CLASS" and "ID" have special meaning)
# normalizationtype: "minmax" (default) or "zscore"
#
# Output from create_normalization:
# df            - a new dataframe, where each numeric value in a column has been replaced by a normalized value
# normalization - a mapping (dictionary) from each column name to a triple, consisting of
#                ("minmax",min_value,max_value) or ("zscore",mean,std)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID"),
#         the other columns should remain unchanged
#
# Hint 3: Take a close look at the lecture slides on data preparation
#
# Input to apply_normalization:
# df            - a dataframe
# normalization - a mapping (dictionary) from column names to triples (see above)
#
# Output from apply_normalization:
# df - a new dataframe, where each numerical value has been normalized according to the mapping
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: For minmax-normalization, you may consider to limit the output range to [0,1]

In [40]:
def create_normalization(df, normalizationtype): 
    normalised = df.copy()
    exempt = ["ID", "CLASS"]
    normalised_mapping = {}
    print(normalised_mapping)
    
    for col in normalised.columns: 
        if col not in exempt and (normalised[col].dtype == "int64" or normalised[col].dtype == "float64"): 
            if normalizationtype == "minmax": 
                min_value = normalised[col].min()
                max_value = normalised[col].max()
                normalised_mapping[col] = ("minmax", min_value, max_value)

                #normalise using minmax
                normalised[col] = [(x-min_value)/(max_value-min_value) for x in normalised[col]]

            else: 
                mean_value = normalised[col].mean()
                std_value = normalised[col].std()
                normalised_mapping[col] = ("zscore", mean_value, std_value)

                #normalise using zscore
                normalised[col]= normalised[col].apply(lambda x: (x-mean_value)/std_value)
    
    return normalised, normalised_mapping
    
def apply_normalization(df, normalisation): 
    exempt = ["ID", "CLASS"]
    normalised = df.copy()
    for col in normalised.columns: 
        if col not in exempt and (normalised[col].dtype == "int64" or normalised[col].dtype == "float64"): 
            values = normalisation[col]
            normal_type = values[0]
            if normal_type == "minmax":
                min_value = values[1]
                max_value = values[2]

                #normalise using minmax
                value = [(x-min_value)/(max_value-min_value) for x in normalised[col]]
                for v in range(0, len(value)):
                    if value[v] > 1: 
                        value[v] = 1 
                    elif value[v] < 0: 
                        value[v] = 0
                normalised[col] = value

            else: 
                mean_value = values[1]
                std_value = values[2]
                #normalise using zscore
                normalised[col]= normalised[col].apply(lambda x: (x-mean_value)/std_value)
    return normalised

In [42]:
# Test your code (leave this part unchanged)

glass_train_df = pd.read_csv("glass_train.csv")

glass_test_df = pd.read_csv("glass_test.csv")

glass_train_norm, normalization = create_normalization(glass_train_df,normalizationtype="minmax")
print("normalization:\n")
for f in normalization:
    print("{}:{}".format(f,normalization[f]))
glass_test_norm = apply_normalization(glass_test_df,normalization)
display("glass_test_norm",glass_test_norm)

{}
normalization:

RI:('minmax', 1.51131, 1.53125)
Na:('minmax', 10.73, 15.79)
Mg:('minmax', 0.0, 4.49)
Al:('minmax', 0.29, 3.04)
Si:('minmax', 69.81, 75.18)
K:('minmax', 0.0, 6.21)
Ca:('minmax', 5.43, 14.68)
Ba:('minmax', 0.0, 3.15)
Fe:('minmax', 0.0, 0.37)
minmax
minmax
minmax
minmax
minmax
minmax
minmax
minmax
minmax

'glass_test_norm'

,ID,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,CLASS
0,101,0.262788,0.399209,0.634744,0.418182,0.644320,0.091787,0.363243,0.034921,0.594595,2
1,104,0.799398,0.606719,0.701559,0.134545,0.141527,0.012882,0.671351,0.000000,0.000000,2
2,44,0.541123,0.592885,0.855234,0.156364,0.363128,0.027375,0.465946,0.000000,0.000000,1
3,17,0.327482,0.385375,0.817372,0.316364,0.614525,0.098229,0.353514,0.000000,0.000000,1
4,81,0.231194,0.420949,0.783964,0.665455,0.530726,0.111111,0.274595,0.000000,0.000000,2
...,...,...,...,...,...,...,...,...,...,...,...
102,80,0.230191,0.413043,0.783964,0.585455,0.567970,0.111111,0.274595,0.000000,0.000000,2
103,141,0.280341,0.513834,0.788419,0.480000,0.508380,0.109501,0.289730,0.000000,0.000000,2
104,14,0.309428,0.420949,0.792873,0.356364,0.633147,0.086957,0.318919,0.000000,0.459459,1
105,132,0.743731,0.586957,0.000000,0.389091,0.266294,0.030596,0.865946,0.000000,0.270270,2
106,102,0.300401,0.320158,0.605791,0.487273,0.569832,0.112721,0.410811,0.000000,0.000000,2

### Comment on assumptions, things that do not work properly, etc.

## 1c. Create and apply imputation

In [6]:
# Insert the functions create_imputation and apply_imputation below (after the comments)
#
# Input to create_imputation:
# df: a dataframe (where the column names "CLASS" and "ID" have special meaning)
#
# Output from create_imputation:
# df         - a new dataframe, where each missing numeric value in a column has been replaced by the mean of that column 
#              and each missing categoric value in a column has been replaced by the mode of that column
# imputation - a mapping (dictionary) from column name to value that has replaced missing values
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Handle columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID") in one way
#         and columns of type "object" and "category" in other ways
#
# Hint 3: Consider using the pandas functions mean and mode respectively, as well as fillna
#
# Hint 4: In the rare case of all values in a column being missing*, replace numeric values with 0,
#         object values with "" and category values with the first category (cat.categories[0])  
#
#         *Note that this will not occur if the previous column filter function has been applied
#
# Input to apply_imputation:
# df         - a dataframe
# imputation - a mapping (dictionary) from column name to value that should replace missing values
#
# Output from apply_imputation:
# df - a new dataframe, where each missing value has been replaced according to the mapping
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider using fillna

In [51]:
def create_imputation(df): 
    exempt = ["ID", "CLASS"]
    imputation_df = df.copy()
    imputation = {col: "" for col in imputation_df.columns if col not in exempt}
    for col in imputation_df.columns: 
        if col not in exempt: 
            if imputation_df[col].dtype == "int64" or imputation_df[col].dtype == "float64": 
                
                mean_value = imputation_df[col].mean()
                imputation[col] = mean_value
               
                #impute values
                imputation_df[col].fillna(mean_value)
            else: 
                mode_value = imputation_df[col].mode()
                mode_value = str(mode_value)
                print(mode_value)
                imputation[col] = mode_value

                #impute value 
                imputation_df[col].fillna(mode_value)

    return imputation_df, imputation
    
def apply_imputation(df, imputation): 
    exempt = ["ID", "CLASS"]
    imputation_df = df.copy()
    for col in imputation_df.columns: 
        if col not in exempt: 
            imputation_df[col].fillna(imputation[col])

    return imputation_df

In [52]:
# Test your code (leave this part unchanged)

anneal_train_df = pd.read_csv("anneal_train.csv")
anneal_test_df = pd.read_csv("anneal_test.csv")

anneal_train_imp, imputation = create_imputation(anneal_train_df)
anneal_test_imp = apply_imputation(anneal_test_df,imputation)

print("Imputation:\n")
for f in imputation:
    print("{}:{}".format(f,imputation[f]))

print("\nNo. of replaced missing values in training data:\n{}".format(anneal_train_imp.count()-anneal_train_df.count()))
print("\nNo. of replaced missing values in test data:\n{}".format(anneal_test_imp.count()-anneal_test_df.count()))

0    TN
dtype: object
0    C
dtype: object
0    A
dtype: object
0    T
dtype: object
0    S
dtype: object
0    N
dtype: object
0    P
dtype: object
0    E
dtype: object
0    Y
dtype: object
0    Y
dtype: object
0    Y
dtype: object
0    B
dtype: object
0    Y
dtype: object
0    C
dtype: object
0    P
dtype: object
0    Y
dtype: object
0    Y
dtype: object
0    B
dtype: object
0    Y
dtype: object
0    SHEET
dtype: object
0    Y
dtype: object
Imputation:

family:0    TN
dtype: object
product-type:0    C
dtype: object
steel:0    A
dtype: object
carbon:3.859688195991091
hardness:13.084632516703786
temper_rolling:0    T
dtype: object
condition:0    S
dtype: object
formability:2.2517482517482517
strength:26.302895322939868
non-ageing:0    N
dtype: object
surface-finish:0    P
dtype: object
surface-quality:0    E
dtype: object
enamelability:1.7142857142857142
bc:0    Y
dtype: object
bf:0    Y
dtype: object
bt:0    Y
dtype: object
bw/me:0    B
dtype: object
bl:0    Y
dtype: object
m:nan
chrom:0    C
dtype: object
phos:0    P
dtype: object
cbond:0    Y
dtype: object
marvi:nan
exptl:nan
ferro:0    Y
dtype: object
corr:nan
blue-bright-varn-clean:0    B
dtype: object
lustre:0    Y
dtype: object
jurofm:nan
s:nan
p:nan
shape:0    SHEET
dtype: object
thick:1.1911937639198218
width:769.4917594654788
len:1229.293986636971
oil:0    Y
dtype: object
bore:35.18930957683742
packing:3.0

No. of replaced missing values in training data:
family                    0
product-type              0
steel                     0
carbon                    0
hardness                  0
temper_rolling            0
condition                 0
formability               0
strength                  0
non-ageing                0
surface-finish            0
surface-quality           0
enamelability             0
bc                        0
bf                        0
bt                        0
bw/me                     0
bl                        0
m                         0
chrom                     0
phos                      0
cbond                     0
marvi                     0
exptl                     0
ferro                     0
corr                      0
blue-bright-varn-clean    0
lustre                    0
jurofm                    0
s                         0
p                         0
shape                     0
thick                     0
width                     0
len                       0
oil                       0
bore                      0
packing                   0
CLASS                     0
dtype: int64

No. of replaced missing values in test data:
family                    0
product-type              0
steel                     0
carbon                    0
hardness                  0
temper_rolling            0
condition                 0
formability               0
strength                  0
non-ageing                0
surface-finish            0
surface-quality           0
enamelability             0
bc                        0
bf                        0
bt                        0
bw/me                     0
bl                        0
m                         0
chrom                     0
phos                      0
cbond                     0
marvi                     0
exptl                     0
ferro                     0
corr                      0
blue-bright-varn-clean    0
lustre                    0
jurofm                    0
s                         0
p                         0
shape                     0
thick                     0
width                     0
len                       0
oil                       0
bore                      0
packing                   0
CLASS                     0
dtype: int64

### Comment on assumptions, things that do not work properly, etc.

## 1d. Create and apply discretization

In [8]:
# Insert the functions create_bins and apply_bins below
#
# Input to create_bins:
# df      - a dataframe
# nobins  - no. of bins (default = 10)
# bintype - either "equal-width" (default) or "equal-size" 
#
# Output from create_bins:
# df      - a new dataframe, where each numeric feature value has been replaced by a categoric (corresponding to some bin)
# binning - a mapping (dictionary) from column name to bins (threshold values for the bin)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Discretize columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID")
#
# Hint 3: Consider using pd.cut and pd.qcut respectively, with labels=False and retbins=True
#
# Hint 4: Set all columns in the new dataframe to be of type "category"
#
# Hint 5: Set the categories of the discretized features to be [0,...,nobins-1]
#
# Hint 6: Change the first and the last element of each binning to -np.inf and np.inf respectively 
#
# Input to apply_bins:
# df      - a dataframe
# binning - a mapping (dictionary) from column name to bins (threshold values for the bin)
#
# Output from apply_bins:
# df - a new dataframe, where each numeric feature value has been replaced by a categoric (corresponding to some bin)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider using pd.cut 
#
# Hint 3: Set all columns in the new dataframe to be of type "category"
#
# Hint 4: Set the categories of the discretized features to be [0,...,nobins-1]

In [60]:
def create_bins(df, bintype, nobins = 10): 
    binned_df = df.copy()
    binning = ""
    exempt = ["ID", "CLASS"]
    binning = {col: "" for col in binned_df.columns if col not in exempt}
    labels = np.arange(0, nobins, 1)

    for col in binned_df.columns: 
        if col not in exempt: 
            if binned_df[col].dtype == "int64" or binned_df[col].dtype == "float64": 
                if bintype == "equal-width": 
                    binned_df[col], bins = pd.cut(binned_df[col],nobins,retbins=True, labels=labels)
                    binned_df[col] = binned_df[col].astype('category')
                    
                    #binning dictionary
                    bins[0] = -np.inf
                   

                else: 
                    binned_df[col], bins = pd.qcut(binned_df[col],nobins,retbins=True, labels=labels)
                    binned_df[col] = binned_df[col].astype('category')
                    binning[col] = bins

                    #binning dictionadry
                    binning[col] = bins
                
                #infinity edges
                bins[-1] = np.inf
                binning[col] = bins

    return binned_df, binning

def apply_bins(df, binning): 
    exempt = ["ID", "CLASS"]
    binned_df = df.copy()
    for col in binned_df.columns: 
        if col not in exempt: 
            if binned_df[col].dtype == "int64" or binned_df[col].dtype == "float64": 
                bins = binning[col]
                bin_length = len(bins) - 1
                labels = np.arange(0, bin_length, 1)
                binned_df[col] = pd.cut(binned_df[col], bins, labels=labels)
                binned_df[col] = binned_df[col].astype('category')
    return binned_df

In [61]:
# Test your code  (leave this part unchanged)

glass_train_df = pd.read_csv("glass_train.csv")

glass_test_df = pd.read_csv("glass_test.csv")

glass_train_disc, binning = create_bins(glass_train_df,nobins=10,bintype="equal-size")

print("binning:")
for f in binning:
    print("{}:{}".format(f,binning[f]))

print()    
glass_test_disc = apply_bins(glass_test_df,binning)
display("glass_test_disc",glass_test_disc)

ValueError: Bin edges must be unique: array([0.   , 0.   , 0.   , 1.82 , 3.188, 3.41 , 3.476, 3.55 , 3.61 ,
       3.728, 4.49 ]).
You can drop duplicate edges by setting the 'duplicates' kwarg

### Comment on assumptions, things that do not work properly, etc.

## 1e. Create and apply one-hot encoding

In [62]:
# Insert the functions create_one_hot and apply_one_hot below
#
# Input to create_one_hot:
# df: a dataframe
#
# Output from create_one_hot:
# df      - a new dataframe, where each categoric feature has been replaced by a set of binary features 
#           (as many new features as there are possible values)
# one_hot - a mapping (dictionary) from column name to a set of categories (possible values for the feature)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider columns of type "object" or "category" only (and which are not labeled "CLASS" or "ID")
#
# Hint 3: Consider creating new column names by merging the original column name and the categorical value
#
# Hint 4: Set all new columns to be of type "float"
#
# Hint 5: Do not forget to remove the original categoric feature
#
# Input to apply_one_hot:
# df      - a dataframe
# one_hot - a mapping (dictionary) from column name to categories
#
# Output from apply_one_hot:
# df - a new dataframe, where each categoric feature has been replaced by a set of binary features
#
# Hint: See the above Hints

In [64]:
def create_one_hot(df): 
    encoded_df = df.copy()
    exempt = ["ID", "CLASS"]
    one_hot = {col: [] for col in encoded_df.columns if col not in exempt}
    for col in encoded_df.columns: 
        if col not in exempt: 
            if encoded_df[col].dtype == "object" or encoded_df[col].dtype == "category":  
                encoded_df[col] = encoded_df[col].astype("category")
                one_hot[col] = list(encoded_df[col].cat.categories)
                for i in one_hot[col]:
                    col_name = col + '_' + str(i)
                    col_enc = encoded_df[col] == i
                    col_enc = col_enc.astype("int")
                    encoded_df[col_name] = col_enc
                encoded_df = encoded_df.drop(axis=1, columns=col)
    return encoded_df, one_hot


def apply_one_hot(df, one_hot):
    encoded_df = df.copy()
    for i in for i in one_hot[col]:
    return encoded_df

SyntaxError: invalid syntax (<ipython-input-64-9bbda4f67dd4>, line 21)

In [379]:
# Test your code  (leave this part unchanged)

train_df = pd.read_csv("tic-tac-toe_train.csv")

new_train, one_hot = create_one_hot(train_df)

test_df = pd.read_csv("tic-tac-toe_test.csv")

new_test_df = apply_one_hot(test_df,one_hot)
display("new_test_df",new_test_df)

NameError: name 'apply_one_hot' is not defined

### Comment on assumptions, things that do not work properly, etc.

## 1f. Divide a dataset into a training and a test set

In [12]:
# Insert the function split below
#
# Input to split:
# df           - a dataframe
# testfraction - a float in the range (0,1) (default = 0.5)
#
# Output from split:
# trainingdf - a dataframe consisting of a random sample of (1-testfraction) of the rows in df
# testdf     - a dataframe consisting of the rows in df that are not included in trainingdf
#
# Hint: You may use np.random.permutation(df.index) to get a permuted list of indexes where a 
#       prefix corresponds to the test instances, and the suffix to the training instances

In [65]:
def split(df, testfraction = 0.5): 
    df_length = len(df)
    cut_off = df_length * testfraction
    cut_off = int(cut_off)
    indexes = np.random.permutation(df.index)
    test_indexes = indexes[0:cut_off]
    training_indexes = indexes[cut_off:]
    trainingdf = df.iloc[training_indexes, :]
    testdf = df.iloc[test_indexes, :]
    return trainingdf, testdf

In [67]:
# Test your code  (leave this part unchanged)

glass_df = pd.read_csv("glass.csv")

glass_train, glass_test = split(glass_df,testfraction=0.25)

print("Training IDs:\n{}".format(glass_train["ID"].values))

print("\nTest IDs:\n{}".format(glass_test["ID"].values))

print("\nOverlap: {}".format(set(glass_train["ID"]).intersection(set(glass_test["ID"]))))

161
53
Training IDs:
[ 73 103 147 126  56 196  99 204   2 191 190  54  96 118  37 173  83 167
 104 111  18 114  85 185 129 208 117 162  14 197 141 160  28  92  40   4
 174  38 155  94  25  64  90 214 164 119 143  24 146  58 210  87 184  19
  76 139  81  32 156  11  95  51  98 134  23   6 168  21 205 177 198  45
  43  52 142 212   9 153  84 202  53  62 136  79 170 163  17  50 110 138
 179 176 151  34 180  48  66 106 187 159 137 157   7  82 169  57  60  89
 108  88 182 115 148 140 181  72 172 158  49 123   1  46 209  39  71  47
  29 133 201  86 154  97 192 206 125 211  78 121 161 193 128 178  59  42
  41 150 130 127 195  31  74 175 109 189  44   3 213  93 188  10 132]

Test IDs:
[ 16   5  55 166  70 107 200  26 199  63  12  35 144 186 105 124 116 165
  27 101 203 152  68  30  33  80  61 135  91 113  75 120  20  13 102 171
 149 122 194  77   8  65  22 112 145 100  36  69  15  67 183 207 131]

Overlap: set()

### Comment on assumptions, things that do not work properly, etc.

## 1g. Calculate accuracy of a set of predictions

In [68]:
# Insert the function accuracy below
#
# Input to accuracy:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from accuracy:
# accuracy - the fraction of cases for which the predicted class label coincides with the correct label
#
# Hint: In case the label receiving the highest probability is not unique, you may
#       resolve that by picking the first (as ordered by the column names) or 
#       by randomly selecting one of the labels with highest probaility.

In [72]:
def accuracy(df, correctlabels): 
    n = len(df)
    correct = 0
    for i in df.index: 
        prediction = df.iloc[i,:].idxmax(skipna=True)
        correctlabel = correctlabels[i]
        if correctlabel == prediction: 
            correct += 1
    return correct / n

In [74]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})
display("predictions",predictions)

'predictions'

      A     B     C
0  0.50  0.50  0.00
1  0.50  0.25  0.25
2  0.50  0.25  0.25
3  0.25  0.50  0.25
4  0.25  0.25  0.50

In [75]:
correctlabels = ["B","A","B","B","C"]

print("Accuracy: {}".format(accuracy(predictions,correctlabels))) # Note that depending on how ties are resolved the accuracy may be 0.6 or 0.8

Accuracy: 0.6

### Comment on assumptions, things that do not work properly, etc.

## 2a. Divide a dataset into a number of folds

In [17]:
# Insert the function folds below
#
# Input to folds:
# df      - a dataframe
# nofolds - an integer greater than 1 (default = 10)
#
# Output from folds:
# folds - a list (of length = nofolds) dataframes consisting of random non-overlapping, 
#         approximately equal-sized subsets of the rows in df
#
# Hint: You may use np.random.permutation(df.index) to get a permuted list of indexes from which a 
#       prefix corresponds to the test instances, and the suffix to the training instances

In [76]:
def folds(df, nofolds=10):
    length = len(df)
    fold_size = length / nofolds
    current_index = int(0)
    folds = []
    indexes = np.random.permutation(df.index)
    for f in range(0,nofolds):
        if f == nofolds - 1: 
            end_index = length
        else: 
            end_index = int(current_index + fold_size)
            
        subset = indexes[current_index:end_index]
        current_index = int(current_index + fold_size)
        fold = df.iloc[subset]
        folds.append(fold)
    return folds

In [77]:
# Test your code  (leave this part unchanged)

glass_df = pd.read_csv("glass.csv")

glass_folds = folds(glass_df,nofolds=10)

fold_sizes = [len(f) for f in glass_folds]

print("Fold sizes:{}\nTotal no. instances: {}".format(fold_sizes,sum(fold_sizes)))

Fold sizes:[21, 21, 21, 21, 21, 21, 21, 21, 21, 25]
Total no. instances: 214

### Comment on assumptions, things that do not work properly, etc.

## 2b. Calculate Brier score of a set of predictions

In [19]:
# Insert the function brier_score below
#
# Input to brier_score:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from brier_score:
# brier_score - the average square error of the predicted probabilties 
#
# Hint: Compare each predicted vector to a vector for each correct label, which is all zeros except 
#       for at the index of the correct class. The index can be found using np.where(df.columns==l)[0] 
#       where l is the correct label.

In [78]:
def brier_score(df, correctlabels): 
    correct_labels = pd.get_dummies(correctlabels)
    brier_score = np.mean(np.sum((df - correct_labels)**2, axis=1))
    return brier_score

In [79]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})

correctlabels = ["B","A","B","B","C"]

print("Brier score: {}".format(brier_score(predictions,correctlabels)))

Brier score: 0.5

### Comment on assumptions, things that do not work properly, etc.

## 2c. Calculate AUC of a set of predictions

In [21]:
# Insert the function auc below
#
# Input to auc:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from auc:
# auc - the weighted area under ROC curve
#
# Hint 1: Calculate the binary AUC first for each class label c, i.e., treating the
#         predicted probability of this class for each instance as a score; the true positives
#         are the ones belonging to class c and the false positives the rest
#
# Hint 2: When calculating the binary AUC, first find the scores of the true positives and then
#         the scores of the true negatives
#
# Hint 3: You may use a dictionary with a mapping from each score to an array of two numbers; 
#         the number of true positives with this score and the number of true negatives with this score
#
# Hint 4: Created a (reversely) sorted (on the scores) list of pairs from the dictionary and
#         iterate over this to additively calculate the AUC
#
# Hint 5: For each pair in the above list, there are three cases to consider; the no. of false positives
#         is zero, the no. of true positives is zero, and both are non-zero
#
# Hint 6: Calculate the weighted AUC by summing the individual AUCs weighted by the relative
#         frequency of each class (as estimated from the correct labels)

In [178]:
def find_scores(col, col_name, correctlabels): 
    pos_filter = [col_name == label for label in correctlabels]
    neg_filter = [col_name != label for label in correctlabels]
    pos_scores = col[pos_filter]
    neg_scores = col[neg_filter]
    return pos_scores, neg_scores

def tpr_fpr(col, col_name, correctlabels): 
    pos_scores, neg_scores = find_scores(col, col_name, correctlabels)
    #need to add 0 and 1 to scores to create the full scale
    score_dict = {}
    scores = []
    sorted_scores = sorted(pos_scores)
    scores += sorted_scores
    #scores += [1]
    total_tp = 0 
    total_fp = 0

    for score in scores:
        #true postives
        if len(pos_scores) == 0: 
            tp_count = 0
        else: 
            tp_count = np.sum(pos_scores >= score)/len(pos_scores)

        #false positives
        if len(neg_scores) == 0: 
            fp_count = 0
        else: 
            fp_count = np.sum(neg_scores >= score)/len(neg_scores)

        total_tp += tp_count
        total_fp += fp_count
        score_dict[score] = [tp_count, fp_count]
        print(score_dict)
    return score_dict, total_tp, total_fp

def calculate_auc(score_dict, total_tp, total_fp): 
    score_list = [list(score) for score in reversed(score_dict.values())]
    print(score_list)
    n = len(score_list)
    auc = 0
    seen_tp = 0
    for i in range(0,n): 
        score = score_list[i]
        if(score[1] == 0): 
            #increase up the y-axis
            seen_tp += score[0]
            #print(seen_tp)
        elif(score[0] == 0):
            #have rectangle to calculate
            auc += (seen_tp/total_tp)*(score[1]/total_fp)
        else: 
            auc += (seen_tp/total_tp)*(score[1]/total_fp) + (score[0]/total_tp)*(score[1]/total_fp)/2
            seen_tp += score[0]
    return auc


def auc(df, correctlabels):
    auc = 0
    frequency = dict(pd.Series(correctlabels).value_counts(normalize = True)) 
    for col in df.columns :
        score_dict, total_tp, total_fp = tpr_fpr(df[col], col, correctlabels)    
        class_auc = calculate_auc(score_dict, total_tp, total_fp)
        print(total_tp)
        print(total_fp)
        auc += class_auc * frequency[col]
    return auc

In [179]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.9,0.9,0.6,0.55],"B":[0.1,0.1,0.4,0.45]})

correctlabels = ["A","B","B","A"]

print("AUC: {}".format(auc(predictions,correctlabels)))

{0.55: [1.0, 1.0]}
{0.55: [1.0, 1.0], 0.9: [0.5, 0.5]}
[[0.5, 0.5], [1.0, 1.0]]
1.5
1.5
{0.1: [1.0, 1.0]}
{0.1: [1.0, 1.0], 0.4: [0.5, 0.5]}
[[0.5, 0.5], [1.0, 1.0]]
1.5
1.5
AUC: 0.5

In [180]:
predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})

correctlabels = ["B","A","B","B","C"]

print("AUC: {}".format(auc(predictions,correctlabels)))

{0.5: [1.0, 0.5]}
[[1.0, 0.5]]
1.0
0.5
{0.25: [1.0, 1.0]}
{0.25: [1.0, 1.0], 0.5: [0.6666666666666666, 0.0]}
{0.25: [1.0, 1.0], 0.5: [0.6666666666666666, 0.0]}
[[0.6666666666666666, 0.0], [1.0, 1.0]]
2.333333333333333
1.0
{0.5: [1.0, 0.0]}
[[1.0, 0.0]]
1.0
0.0
AUC: 0.4

### Comment on assumptions, things that do not work properly, etc.